 .u-section-1 {
  min-height: 694px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 1px;
}

.u-section-1 .u-image-1 {
  min-height: 692px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/zeke-tucker-0EP4QyCjtgE-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-1 .u-image-2 {
  width: 385px;
  height: 385px;
  background-image: url("images/Picofme.jpg");
  background-position: 50% 50%;
  margin: 62px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 572px;
  }

  .u-section-1 .u-image-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-image-2 {
    width: 350px;
    height: 350px;
  }

  .u-section-1 .u-icon-1 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-image-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 756px;
  }

  .u-section-1 .u-image-1 {
    min-height: 656px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 513px;
  }

  .u-section-1 .u-image-1 {
    min-height: 413px;
  }
}