 .u-section-1 {
  min-height: 815px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 815px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/zeke-tucker-0EP4QyCjtgE-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 815px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-1 .u-image-2 {
  width: 385px;
  height: 385px;
  background-image: url("images/Picofme.jpg");
  background-position: 50% 50%;
  margin: 113px auto 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  width: 316px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    min-height: 672px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 672px;
  }

  .u-section-1 .u-image-2 {
    width: 350px;
    height: 350px;
  }

  .u-section-1 .u-icon-1 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-text-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 852px;
  }

  .u-section-1 .u-image-1 {
    min-height: 773px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 609px;
  }

  .u-section-1 .u-image-1 {
    min-height: 487px;
  }
}